<h1>Game of Life</h1>
<p>
  This is just some fun with a classic cellurar automaton. The rules are described in detail on Wikipedia.

  I'm using D3
</p>
<!-- <table>
  <tr *ngFor="let row of game.board">
    <td style="width: 15px; height: 15px;" *ngFor="let cell of row">{{ cell == 1 ? 'X' : '' }}</td>
  </tr>
</table> -->
<div class="game-of-life-svg" id="game-of-life-svg">
  
</div>
<h2>References</h2>

   <ul>
     <li><a href="https://d3js.org/"></a>D3 JS</li>
     <li><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Game of Life Wikipedia</a></li>
   </ul> 
   <p>
</p>